#edit-config .messages--warning {
  background-image: none !important;
  box-shadow: none;
}

#edit-config .messages--warning .title a::before {
  content: '!!!!';
  background-image: url(/core/misc/icons/e29700/warning.svg);
  color: transparent;
  margin-right: 5px;
}

.js-form-item-action,
#edit-submit--2,
.select-all.views-field.views-field-node-bulk-form input {
  display: none;
}

#views-exposed-form-ezproxy-stanza-search-default div[data-drupal-selector="edit-actions"],
#edit-filter .form-submit,
#edit-filter .form-reset {
  clear: none;
  float: left;
  margin-top: 2em;
  margin-right: 0px !important;
}

#edit-diff--description .deleted {
  background-color: #fdd;
}
#edit-diff--description .added {
  background-color: #dfd;
}

#edit-filter .form-item {
  float: left;
  margin-right: 1em;
}
